*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'PT Sans Narrow', sans-serif;
}

.navbar{
	background-color: #FFFFFF;
	border:none;
}

.container-fluid{
	padding-right: 0px;
  padding-left: 0px;
}

.na{
	margin-top: 10px;
}
.na a{
	color:#000;
}

.caja1{
	background-image: url(../assets/images/taxi.jpg);
	width: 100%;
	height: 50%;
	border:none;
	background-position: center 90%;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 640px;

}
.jumbotron{
	border: 1px dotted #ff8833;
	margin-top: 130px;
	width:550px;
	height: 400px;
	background-color:#F7B617;
  background-position: right;
}
.jumbotron img{
	color:#fff;
}
.caja2 h2{
	margin-top:0px;
	margin-right:0px;
	color: #fff;

}
.caja2 p{
	margin-top:20px;
	color:#fff;
}
.btn-default{
	border: none;
	color:#4D4747;

}
   .caja2 hr{
   	position: relative;
   	top:20px;
	  background-color:red;
	  max-width: 30rem;
    padding: 0;
    text-align: center;
    border: none;
    border-top: solid #fff .25rem;
    margin-top: 0rem;
    margin-bottom: 2.5rem;

}
.caja2 h4{
	position: absolute;
	top:375px;
	background-color:#F7B617;
	color:#fff;
	text-align: center;
	width: 100px;
	margin-left: 170px;
	margin-bottom: 140px;
	display: inline-block;
}

.boton2{
	margin-top: 30px;
}

aside{
	margin-left: 50px;
}
.cj{
	width: 60%;
	margin-top: 670px;
	margin-bottom: 30px;
	margin-left: 0px;
	border:solid 1px #fff;
	background:#F7B617;
}
.cj img{
	margin-left: 80px;
  margin-top: 60px;
	height:350px;
}
.cj h2{
	margin-top: 80px;
	font-size: 30px;
	color:#fff;
}
.cj p{

	font-size: 20px;
	color:#fff;
	line-height:20px;
}

.caja4{
	background-image: url(../assets/images/conduce.jpg);
	width: 100%;
	height: 50%;
	border:none;
	background-position: center 50%;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 450px;
}
.caja5Mayor {
	
	width:550px;
	height:200px;
	background:#2e2f307a 10%;
  background-position: right;
}
.caja5Mayor h2{

 	margin-top: 20px;
	margin-left:50px;
  color: #fff;
}
.caja5Mayor h4{
	color:#fff;
	margin-left: 50px;
	margin-top: 0px; 
}
.caja5Mayor .btn-default{
	margin-left: 50px;
	background:#F7B617;
	color:#fff;
}
/*Seccion Tarifa*/

.Cajatarifa{
	padding: 0px;
	width: 100%;
	background: #F7B617;
	height: 700px;
	color: #fff;
	
}
.Cajatarifa h1{
	margin-left: 50px;

}
.Cajatarifa h3{
	margin-left: 50px;
}
.icono1{
	margin-left: 50px;
}
.icono1 input{
	margin-top: 50px;
	margin-left:60px;
	width: 50%;
	background-color: #F7B617;
	color:#fff;

}

.Cajatarifa button{
	margin-left: 100px;
	margin-top: 50px;
}
.Mapa{
	margin-top: 20px;
}

.PiePagina{
	background: #131212;
}
.PiePagina p{
	margin-left: 50px;
}
.PrimeraFila li {
	color:#fff;
	list-style: none;
	text-decoration: none;
}
.PrimeraFila a{
	color:#fff;
}

.SegundaFila li{
	color:#fff;
	list-style: none;
	text-decoration: none;

}
.SegundaFila a{
	color:#fff;
	}

.Iconos i{
	color:#fff;
	margin-left: 5px;
	padding-left: 10px;

}

.Cajatarifa .Mapa p img{
  margin-left: 100px;
	width: 80%;
	
}

/* media queries vista en pantalla Lg*/
@media only screen and (min-width:450px) and (max-width: 720px) {
	.col-xs-12{
		padding: 0;
	}
	.row{
		padding: 0;
		margin: 0;
	}

	div.cajaMovil{
		display: none;
	}


/*media queries vista dispositivos moviles*/
	@media only screen (max-width: 449px) {
		div.cajaMovil{
			display: block;
		}